# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/sql

bin/
.vs/
obj/
packages/

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles
